@media screen and (min-width: 480px) {
   /**********************************
    TWO COLUMN LAYOUT
    ***********************************/
    
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    /**********************************
    3 * 5 = 15
    100% - 15% = 85%
    85/3 = 28.333333333
    ***********************************/
    
    /**********************************
    PAGE: PORTFOLIO 
    ***********************************/
    
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n) {
        clear: left
    }
}

@media screen and (min-width: 660px) {
 
}